*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#eef4ff,#f8f5ff);
    min-height:100vh;
    color:#222;
}

.container{
    width:92%;
    max-width:1400px;
    margin:auto;
    padding:40px 0;
}

/* HEADER */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
    flex-wrap:wrap;
}

.header h1{
    font-size:36px;
    color:#2d2d7a;
}

.header p{
    color:#666;
    margin-top:5px;
}

.export-btn{
    background:linear-gradient(135deg,#5d5fef,#7d5fff);
    border:none;
    color:white;
    padding:14px 24px;
    border-radius:15px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
    box-shadow:0 8px 20px rgba(93,95,239,.2);
}

.export-btn:hover{
    transform:translateY(-3px);
}

/* KPI CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-bottom:35px;
}

.card{
    background:rgba(255,255,255,.65);
    backdrop-filter:blur(14px);
    border-radius:25px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    font-size:16px;
    color:#666;
    margin-bottom:12px;
}

.card h2{
    font-size:34px;
    color:#4a43d1;
}

.card p{
    margin-top:12px;
    color:#777;
}

/* CHARTS */

.charts{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    margin-bottom:30px;
}

.chart-card{
    background:rgba(255,255,255,.65);
    backdrop-filter:blur(14px);
    border-radius:25px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.chart-card h3{
    margin-bottom:20px;
    color:#333;
}

/* TABLE */

.table-section{
    background:rgba(255,255,255,.7);
    backdrop-filter:blur(15px);
    padding:30px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    margin-bottom:30px;
}

.table-section h2{
    margin-bottom:20px;
    color:#2d2d7a;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:18px;
    text-align:left;
}

th{
    background:#f2f3ff;
}

tr{
    border-bottom:1px solid #eee;
}

.high{
    color:red;
    font-weight:700;
}

.medium{
    color:orange;
    font-weight:700;
}

.low{
    color:green;
    font-weight:700;
}

/* RECOMMENDATION */

.recommendation{
    background:linear-gradient(135deg,#5d5fef,#8f94fb);
    padding:35px;
    border-radius:30px;
    color:white;
    box-shadow:0 15px 30px rgba(93,95,239,.3);
}

.recommendation h2{
    margin-bottom:15px;
}

/* MOBILE */

@media(max-width:900px){

    .charts{
        grid-template-columns:1fr;
    }

    .header{
        gap:20px;
    }

    .header h1{
        font-size:28px;
    }
}.chart-container{
    position: relative;
    width: 100%;
    height: 320px;
}

canvas{
    width: 100% !important;
    height: 100% !important;
}
